<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test thymeleaf</title>
    <script src="jss/vue.js"></script>
    <script src="jss/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="jss/dialog/jquery-ui.min.css">
    <script src="jss/dialog/jquery.min.js"></script>
    <script src="jss/dialog/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jss/dialog/style.css">
</head>
<body>
<h3 th:text="${ip}"></h3>
<a shiro:hasPermission="user:add" href="/add">进入添加页面</a>
<a shiro:hasPermission="user:update" href="/update">进入更新页面</a>
<input shiro:hasPermission="excel" onclick="outExcel()" type="button" value="导出数据">
<input shiro:hasPermission="sendMsg" onclick="sendMsg()" type="button" value="发送短信">
<div></div>

<shiro:notAuthenticated><a  href="/login">登录</a></shiro:notAuthenticated>
<!--<shiro:notAuthenticated><a  href="/github/login">github登录</a></shiro:notAuthenticated>-->
<shiro:notAuthenticated><a  href="https://github.com/login/oauth/authorize?client_id=bf9846959688a5c80a0a&state=1">github登录</a></shiro:notAuthenticated>
<shiro:Authenticated><a  href="/givepermission">去授权</a></shiro:Authenticated>
<shiro:Authenticated><a href="/logOut">注销</a></shiro:Authenticated>
<div shiro:hasPermission="sendMsg" id="app">
    <p>发送给谁：{{toNum}}</p>
    <p>内容：{{content}}</p>
    <p>有效时间（分钟）：{{time}}</p>
    <p>ToNum：<input id="toNum" type="text" readonly="readonly" v-model="toNum"/></p>
    <p>Content: <input id="content" type="text" v-model="content"></p>
    <p>Time: <input id="time" type="text" v-model="time"></p>
</div>


<div id="dialog" title="Basic dialog">
    <p>这是一个
        动画显示的对话框，用于显示信息。对话框窗口可以移动，调整尺寸，默认可通过 'x' 图标关闭。</p>
    <input id="but" type="button" value="保存">
</div>

<button id="opener">打开对话框</button>

</body>
<script type="text/javascript">

    function outExcel() {
        window.location.href="/excel/writeExcel";
    }
    
    function sendMsg() {
        window.location.href="/msg/sendMsg?toNum="+$("#toNum").val()+"&content="+$("#content").val()+"&time="+$("#time").val();
    }

    var info={toNum:"13265937858",content:"569864",time:"1"}

    new Vue({
        el:'#app',
        data:info
    })


    $(function() {
        /*dialog  start*/
        $( "#dialog" ).dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            }
        });

        $( "#opener" ).click(function() {
            $( "#dialog" ).dialog( "open" );
        });

        $("#but").click(function () {
            $( "#dialog" ).dialog( "close" );
        })

        /*dialog  end*/
    });

</script>
</html>
